/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

p{
  width: 95%;
  height: 95%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
}

#first-title {
  background: pink;
  color: black;
}

#second-title {
  background: red;
  color: white;
}

#third-title {
  background: yellow;
  color: black;
}

.title {
  border: 1px solid black;
  text-align: right;
  font-family: Helvetica;
  position: relative;
  top: 0%;
  width: 30%;
  text-align: center;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** DESKTOP DEVICES **********/
@media (min-width: 992px) {
  .desktop {
    float: left;
    border: 1px solid black;
    width: 33.33%;
    margin-top: 10px;
    background: grey;
  }
}

/********** TABLET DEVICES **********/
@media (min-width: 768px) and (max-width: 991px) {
  .tablet-1 {
    float: left;
    border: 1px solid black;
    width: 50%;
    margin-top: 10px;
    background: grey;
  }

   .tablet-2 {
    float: left;
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
    background: grey;
  }

  .tablet-2 #third-title.title {
    width: 15%;  
  }
}

/********** PHONE DEVICES **********/
@media (max-width: 767px) {
  .phone {
    float: left;
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
    background: grey;
  }
}
